html *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

div.navbarContainer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

div.account {
    width: 20%;
    display:flex;
    justify-content: space-around;
}
.user{
   width: 2.5rem;
}

.logo{
    width: 8rem;
    padding-left: 1rem;
   
}

.navheader{
    margin-top: 1rem;
    display: flex;
}
nav a {
    align-self: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    padding: 0 1rem;
}

li{
    list-style-type:none;
}

.nav-link:hover, .nav-link:focus {
    color: black;
}

.nav-link {
    color:black !important;
}

nav a:hover{
    color:#3ec4d6
}

.cityHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Zilla Slab Highlight', cursive;
}

.cityHeader h1{
    font-size: 11vmin;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.384);
    color: rgb(221, 216, 216);;
}



.containerHeader, .cityHeader{
    width: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center;


}
.mainVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

div.heroContainer {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: center;

}

div.heroContainer h1{
    margin-top: 4rem;
    font-family: 'Italianno', cursive;
    font-weight: 550;
    font-size: 20vmin;
}
div.heroContainer h3{
    font-family: 'Zilla Slab Highlight', cursive;
    color:whitesmoke;
    text-align: center;
    font-size: 4vmin;
}
div.heroButtons button{
 padding: 1rem;
 background-color: black;
 color: white;
 font-weight: bold;
 box-shadow: inset 0 0 0 0 white;
 transition: ease-out 0.6s;
 border: 2px solid black;
 border-radius: 5px;
 cursor: pointer;

}

div.heroButtons button:hover {
    box-shadow: inset 300px 0 0 0 white;
    border:2px solid white;
    color: black;
}

.carousel {
    align-self: center;
    min-height: 100vh;
}

.boxPhoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

}

.cityPhoto{
    display: flex;
    justify-content: center;
    width:35vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 6px rgba(146, 146, 146, 0.39);
}

.photoTitle {
    font-family: 'Zilla Slab Highlight', cursive;
    align-self: center;
    color: whitesmoke;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.384);
    font-weight: bold;
    font-size: 6vmin;
}

.sr-only {
    display: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    width: 2rem;
    padding: 1.5rem;
    border-radius: 100px;
}

.carouselTitles, .titles, .titlesTips, .underConstructionBox, .signUpTittle, .signInTittle{
    padding: 1rem;
    font-family:'Ubuntu', sans-serif;
}
.itineraryTitle{
    font-family:'Ubuntu', sans-serif;
}

.carouselTitles h2, .titles h2, .titlesTips h2, .inputContainer h2, .underConstructionBox h4{
    padding-top: 3rem;
    font-weight: bold;
    color:#dad8d8;
    font-size: 3rem;
}

.itineraryTitle  h2 {
    font-weight: bold;
    color:#dad8d8;
    font-size: 3rem;
}

.noItineraries div h3{
    padding-top: .5rem;
    font-weight: bold;
    text-align: center;
    color:#2ad7dd;
    font-size: 7vmin;
}

.noItineraries div{
    padding-top: 3rem;
}


.carouselTitles span, .titles span, .titlesTips span {
    font-weight: normal;
}

.textDeco {
    padding-left: rem;
    width: 7rem;
    height: .5rem;
    background-color: #3fced3;
}

div.errorText {
    height: 28vh;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

div.errordiv {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;

}

.comingSoon{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0 ;
}

.errorButton {
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #F190B2;
    border: none;
}

div.errorText Link {
    margin-top: 3rem;
}

.back{
    color:whitesmoke;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #0e0e0e;
    border: none;
}

.back:hover{
    padding: 1rem 1rem;
    border: 2px solid black;
    background-color: whitesmoke;
    color:black;
}

.errorButton:hover {
background-color: #048fda;
color: white;
}

.errorButton2{
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #66cc99;
    border: none;
    color:black;
}

.errorButton2:hover{
    color:white;
}

div.footerContainer {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    min-height: 55vh;
    background-size: cover;
    background-position:center ;
}


 footer h3 {
     padding-top: 2rem;
    color: white;
    font-size: 7vmin;
    font-family:'Italianno', cursive; 
    text-align: center;
}

footer p, footer span, footer a {
    color:white;
    font-family: 'Ubuntu', sans-serif;
}

footer span {
    padding-bottom: .5rem;
    align-self: center;
}

footer nav {
    padding-right: 2rem; 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

footer a {
    text-decoration: none;
    padding-top: 1.5rem;
    color: white;
}

div.socialMedia img {
width: 2rem;
}

 div.socialMedia{
    align-self: center;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

div.nameContainer {
    width: 30%;
}

div.bilboPhrase{
    padding: .5rem 2rem;
    text-align: justify;
} 

div.finalContent{
    align-self:center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
div.phraseNav {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardContainer {
    width: 100%;
    display:flex;
    justify-content: space-evenly;

} 
 .card {
    width: 20%;
    min-height: 60vh;
    border-radius: 50px;
    box-shadow: 0px 0px 19px 6px rgba(146, 146, 146, 0.39);
    display: flex;
    justify-content: center;
}
.cardphoto {
    align-self: center;
    width:60%;
    height:20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center ;
}

.cardText {
    color:rgb(100, 99, 99);
    padding: 1rem;
    text-align: center;
    font-size: 3.5vmin;
    font-weight: bold;
}

.mapContainer {
    width: 100%;
    min-height: 90vh;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.cardImg{
    width: 5rem;
} 

.citiesdiv{
    min-height: 100vh;

}

.citiesdiv h3{
    padding-top: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 5vmin;
    text-align: center;
}
.citiesdiv{
    
    padding: 2rem;
}


.cardimg{
    width:100%;
    height:50vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0px 0px 19px 6px rgba(146, 146, 146, 0.39);
   
   
}

.cardimg h4{
    padding-left: 1rem;
    font-family: 'Zilla Slab Highlight', cursive;
    align-self: flex-end;
    color: whitesmoke;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.384);
    font-size: 4vmin;
}

.citydescription {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position:relative;
    top:17vh;
    padding:1rem ;
    font-size: 3vmin;
    text-align: justify;
    transition:all 400ms cubic-bezier(0.5,0,0,0.5) ;
   
}

.citydescription h4 {
    font-weight: bold;
}

.cardimg:hover .citydescription{
    background-color:rgba(245, 245, 245, 0.5);
    top:0;
}

.inputFilter {
    padding:.5rem;
    width: 30vw;
}

.inputContainer {
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.comingSoon h3 {
    padding: .5rem;
    font-size: 8vmin;
}

.oopsDiv{ 
    color:rgb(100, 99, 99);
    padding: 1rem;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 5vmin;
}
.loaderdiv{
    width: 100%;
    height: 100vh;
}
.loaderGif{
    align-self: center;
}
.oopsDiv img{
    align-self: center;
    width: 50%;
}
.itinerariesBox{
    padding: 2rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itineraryBody{
    width: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 19px 6px rgba(146, 146, 146, 0.39);
    padding: 3vh 2vw;
    margin-bottom: 5vh;
}

.itineraryHead{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.itineraryPhoto{
    width: 22vw;
    height: 60vh;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.itineraryData{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.itineraryAuthor{
    display: flex;
    align-items: center;
}

.authorPhoto{
    min-width: 8vw;
    height: 16vh;
    border-radius: 50%;
}

.authorName{
    margin-left: 2vw;
    font-weight: 700;
    font-size: 5vmin;
}

.itineraryTitle {
    display: flex;
    align-items: center;
}

.itineraryTitle h2 {
    font-size: 2.5em;
    padding: 1vh 2vw;
    margin-top: 2vh;
}
.signUpTittle h2, .signInTittle h2{
    font-weight: bold;
    color:#cfcfcf;
    font-size: 8vmin;
}
.likes{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likes img {
    width: 2.5em;
    cursor: pointer;
}

.likes p{
    color:#ff6666;
    font-weight: bold;
}
.itineraryDescrip{
    font-size: 1.3em;
}

.hashtags{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.itineraryIcons{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.itinerarybutton{
    display:flex;
    justify-content:center;
}
.itinerarybutton button, .formButtons button{
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.6s;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
       
.itinerarybutton button:hover {
    box-shadow: inset 300px 0 0 0 white;
    border:2px solid white;
    color: black;
} 

.itineraryTime {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.itineraryPrice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}
.itineraryTime img, .itineraryPrice img{
    width: 1.5em;
}

.itineraryPrice img {
    margin-left: .2em;
}

.underConstruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underConstructionBox {
    padding: 1rem;
}

.underConstructionBox img {
    padding:1rem;
    max-width:50vw;
}

.noItineraries{
    width: 100%;
    min-height:110vh;
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 0px 19px 6px rgba(146, 146, 146, 0.39);
}
.commentsConstruction{
    padding: 2rem;
}
.commentsConstruction img{
    width:70vw;
}

.signUpBack, .signInBack {
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center center;
}
.signInBack {
    height: 85vh;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
}
.signInTittle{
    padding: 2rem;
}

.formContainer, .formContainerSignIn{
    padding: 2rem 2rem;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer form, .signInForm {
    width: 100%;
    display:flex;
    flex-direction: column;
}
form input, form select, .signInForm input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}

.formButtons{
    display: flex;
    flex-direction: column;
}

.formButtons button {
    padding: .3rem 0;
    margin: .2rem;
}

form span, .signInForm span {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
    border: none;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 3px rgba(175, 174, 174, 0.253);

}


.eyeIcon {
    cursor: pointer;
} 



@media (max-width:1230px){
    .citydescription {
      position: initial;
    }
    .citydescription p {
        display:none;
    }  
}

@media  (max-width: 994px){

    .itineraryHead{
        flex-direction: column;
        justify-content: center;
    }
    .itineraryPhoto{
        width: 70vw;
        height: 50vh;
    }
   .itineraryAuthor{
        margin-top: 1.5vh;
        width: 70vw;
        justify-content: center;
   }
   .itineraryTitle{
       flex-direction: column;
   }
   .itineraryTitle h2{
        text-align: center;
        font-size: 2em;
        width: 80vw;
   }

   .itineraryDescrip{
        font-size: 1.3em;
        text-align: center;
   }
   .hashtags{
       align-self: center;
       display:flex;
       justify-content: center;
       font-size: 15px;
   }
   .itineraryIcons {
       width: 100%;
       display: flex;
       flex-direction: row; 
       margin-bottom: 2vh;
       justify-content: space-around;
   }
   .underConstructionBox img {
       width: 50%;
   }
}
@media  (max-width: 750px){
    .itineraryAuthor{
        align-self: center;
        flex-direction: column;
    }
}